<a href="https://colab.research.google.com/github/aryan-shrivastava09/AryanTC/blob/master/STCmlDay1session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variable assignment
a =5 
a
print(a)

In [1]:
# Character assignment
a = "Aryan"
a

'Aryan'

In [ ]:
# Booleans
b = True
c = False
b
c

In [ ]:
# Control Statements
# if
v = 100
if v>50:
  print("Value is greater than 50")

In [ ]:
# If and else
v =33
if v>50:
  print("Value is greater than 50")
else:
  print("Value is less than and equal to 50")

In [ ]:
# if elif and else
v= 25
if v>50:
  print("Value greater than 50")
elif v>=25:
  print("Value is greater than equal to 25 or less than 50")
else:
  print("Value is less than 25")

In [ ]:
# Nested
v =10
if v>5:
  if v>100:
    print(v)
  else:
    print("Not greater than 100")
else:
  print("Less than 5")

In [6]:
# For loop
lst = [23,25,57]
for l in lst:
  print("Hi",l)
# indexing
lst[0]
# Increment
for i in range(len(lst)):
  lst[i]=lst[i]+i
lst

Hi 23
Hi 25
Hi 57

[23, 26, 59]

In [7]:
# combine if and for
s1 = [5,45,67,85,83,1]
c = 0
for s in s1:
  if s>50:
    c=c+1
print(c)

3

In [ ]:
# While loop
v =1
while v<5:
  print(v)
  v=v+1

In [8]:
a=10
b=4
print("a=",a,"b=",b)
print(a-b)
print(a+b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

a= 10 b= 4
6
14
40
2.5
2
10000

In [ ]:
# Custom Function
def findMin(a,b):
  if a>b:
    print("Min is",b)
  elif a<b:
    print("Min is",a)
  else:
    print("Both are equal")

In [ ]:
def minofnumbers(a,b,c):
  if a<b:
    if a<c:
      return a
    else:
      return c
  else:
    if b<c:
      return b
    else:
      return c

#Pandas
Contains two containers:
1. Series
2. Data Frames

Customer 
  - Name : Text
  - Gender : Male, Female, Null
  - Income : Numeric
  - Date of Birth : Date
  - Start Date : Date

In [14]:
# Series 
import pandas as pd
s = pd.Series([1,3,5,2,6,4])
print(s)

0    1
1    3
2    5
3    2
4    6
5    4
dtype: int64

In [10]:
type(s)

pandas.core.series.Series

In [11]:
s.values

array([1, 3, 5, 2, 6, 4])

In [16]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
# Slice a series
s[2:4]

2    5
3    2
dtype: int64

In [24]:
# Data Frame
cust = pd.DataFrame({"Name" : ["Ramesh","Mahesh","Rita","Rajesh","Mona"],
                     "Gender":["M","M","F","M","F"],
                     "Age":[33,41,52,36,46]})
cust

     Name Gender  Age
0  Ramesh      M   33
1  Mahesh      M   41
2    Rita      F   52
3  Rajesh      M   36
4    Mona      F   46

In [25]:
cust.Age

0    33
1    41
2    52
3    36
4    46
Name: Age, dtype: int64

In [26]:
cust["Age"]

0    33
1    41
2    52
3    36
4    46
Name: Age, dtype: int64

##Reading Data into Python
- Read CSV File
- Read JSON Data
- Read HTML Page
- Connect to SQL DB

In [27]:
# To connect with google drive
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
# CSV
path = 'content/drive/My Drive/Training/Data/'
#read Csv file
groceries = pd.read_csv(path+"groceries.csv")
#show few rows
groceries.head()

In [ ]:
# JSON
reviews = pd.read_json(path+"reviews.json")
reviews.head()

In [ ]:
# HTML
ts = pd.read_html("Link")[0]
ts.head()

In [ ]:
# SQL DB
import sqlite3
from sqlite3 import Error
# Function to establish connection
def create_connection(path,db):
  db_file= path+db
  conn = None
  try:
    conn = sqlite3.connect(db_file)
  except Error as e:
    print(e)
  return conn
# Connect with Database
conndb = create_connection(path,'blogs.sqlite3')
# Get 
blog_tags_df = pd.read_sql('SELECT')